@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;900&display=swap');
*{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f9fc;

}

/* ---------Navbar------- */
nav{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    width:100%;
    height:48px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.site-name-div{
    padding-left:12px;
    display:flex;
    justify-items:flex-start;
    width:30%;
}
.site-name{
    height:100%;
    text-align: center;
    overflow:hidden;
    text-transform: uppercase;
}

.nav-links{
    display:flex;
    justify-content: flex-end;
    width:70%;
    display: flex;
    align-items: center;
}
.search{
    color: #637FFF;
}
.search,#hamburger{
    margin:0px 8px;
}
.navbar{
    
    overflow: hidden;
    height:100%;
    width:100%;
    margin:0px auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:1px 2px;
}
.navbar ul{
    display:flex;
    list-style: none;
}
.responsive-nav{
    display:none;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    font-size: xx-large;
    color: #637FFF;
}
.tab{
    display:none;
    font-size: 12px;
    padding:0px 8px;
    font-weight: bold;
}

.container{
    width:100%;
    height:100%;
    
}
.product-display{
    background-color: white;
    padding:8px;
    margin-top:4px;
    display:flex;
    flex-direction: column;
}
.product-image{
    width:100%;
    justify-content:center;
    align-items: center;
    display: flex;
}
.product-title{
    font-family: 'Poppins', sans-serif;
}
.product-title-figure{
    width:65%;
}
.name-rating-section{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.excellent-rating{
    width:50%;
}
.rating-figure{
    margin-top: -18px;
    font-weight: normal;
}
.colors{
    display:flex;
    margin-top: -12px;
}
.color1{

    width:35px;
    height:35px;
    margin:2px;
    background-color: #4f4c66;
}
.color2{
    width:35px;
    height:35px;
    margin:2px;
    background-color: #B4A99C;
}
.color3{
    width:35px;
    height:35px;
    margin:2px;
    background-color: #0F0F12;
}
.price-button{
    display:flex;
    width:100%;
    height:auto;
    align-items: center;
    justify-content: space-around;
}
.price-button h1{
    color:#637FFF;
    font-weight: bold;
}
.price-button button{
    background-color: #637FFF;
    color:white;
    font-weight: bold;
    border:none;
    width:40%;
    height:50px;
    border-radius: 50px;
}
.feature-tab{
    display: none;
}
/* -------Features overview section---- */
.feature-div{
    display:flex;
    width:100%;
    height:50px;
    overflow: hidden;
    align-items: center;
    
}
.feature-icon{
    width:10%;
}
.feature-icon i{
    color: #15cfb5;
    width:100%;
    text-align: center;
}
.feature{
    width:50%;
    font-weight: normal;
    font-size: larger;
    padding-left:48px;
}
.condition{
    width:20%;
    font-size: larger;

    font-weight: lighter;  
}
/* ---------website prices------- */
.website-price-container{
    display: flex;
    flex-direction: column;
   
    margin:0;
    padding: 0;
}
.website-price{
    display: flex;
    overflow: hidden;
    
    width:100%;
    margin:0;
    padding: 0;
    height:auto;
}
.website-logo-container-att{
    width:100%;
    height: 4rem; 
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-image: url("assets/att.png");
}
.website-logo-container-sprint{
    width:100%; 
    height: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    background-image: url("assets/sprint.png");
}
.website-logo-container-verizon{
    width:100%; 
    height: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    background-image: url("assets/verizon.png");
}
.website-price h3{
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: large;
}
/* -Features and ad------- */
.feature-detail-container{
    background-color: white;
    padding: 8px;
}

.features-ad-related{
    margin-top: 10px;
    /* background-color: white; */
}
.feature-detail{
    overflow: hidden;
    height:30px;
    display: flex;
    width:100%;
    height:auto;
    align-items: center;
    margin:0;
    padding:0;
    justify-content: flex-start;
}
.feature-detail h3{
    font-weight: 550;
    font-size: medium;
    width:60%;
}
.feature-detail h4{
    font-weight: normal;
    font-size: medium;
    width:40%;
    text-align: left;
    height:auto;
}
.ad-container{
    margin-top: 2rem;
    width:100%;
    height:300px;
    padding:5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ad-container img{
    width:22rem;
}
/* -----------related product section---------- */
.related-product{
    display: flex;
    padding:4px;
    align-items: center;
    padding-left: 12px;
}
.related-product-image{
    width:25%;
    height:8rem;
    background-image: url('assets/Phone.jpg');
    background-size: contain;
    background-repeat: no-repeat;

}
.related-product-price{
    font-weight: normal;
    font-size: medium;
    color: #637FFF;
    margin-top: -15px;
}
/* ---------Review Section------- */
.reviews-container,.review-sentiment{
    width:100%;
    margin-top: 4px;
    /* margin-bottom: 4px; */
}
.review-header,.compare-header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 8px;
}
.review-naming,.compare-naming{
    display: flex;
    align-items: center;
}
.review-naming i{
    color: #15cfb5;
}
.review-naming h3{
    padding-left: 4px;
    font-size: medium;
    font-weight: bold;
}
.drop-down{
    background-color: none;
    border:none;

}
.review-container,.charts-container{
    padding:2px 4px;
    background-color: white;
    
}
.review-category{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding:2px;
}
.review-chip{
    border:1px solid rgb(59, 58, 58);
    padding:0px 6px;
}
.positive-review-header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.positive-review-header span{
    font-weight: bold;
    font-size: large;
    margin-left: 4px;
}
.positive-review-header i{
    color: #15cfb5;
}

.review-rating{
    margin-top: -10px;
    height: min-content;
    display: flex;
    align-items: center;
}
.review{
    height: fit-content;    
    margin:0px;
    line-height: 1.6;
    padding:0px;
}
.review-text{
    margin-top: -10px;
    font-size: medium;
    font-weight: bold;
}
.reviewer-name{
    margin-top: -10px;
    font-weight: normal;
    font-size: medium;
}
/* -------Compare section-------- */
.compare-naming i{
    color: #15cfb5;
}
.compare-naming h3{
    padding-left: 4px;
    font-size: medium;
    font-weight: bold;
}
/* --------charts section------- */
.charts-container{
    width:100%;
}
.chart-container{
    display: flex;
    width:100%;
}
.yaxis-labels{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    width:40%;
}
.yaxis-labels h6{
    font-weight: normal;

}
.gradient-container{
    width:100%;
    height:auto;
    padding-left:2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}
.gradient-1{
    background-color: #eeeeee;
    width:100%;
    height: 2rem;
    background-image: linear-gradient(to right, #4ad7b8, #4fd9b3, #56dbad, #5ddca7, #65dea0, #6be09b, #72e195, #79e38f, #80e588, #87e781, #8fe879, #97ea71,#eeeeee,#eeeeee,#eeeeee,#eeeeee);
}
.gradient-2{
    background-color: #eeeeee;
    width:100%;
    height: 2rem;
    background-image: linear-gradient(to right, #f10773, #f40e69, #f7175f, #f82155, #f92b4b, #fa3243, #fb393b, #fb4033, #fc462b, #fd4d22, #fe5316, #fe5a02,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee);
}
.gradient-3{
    background-color: #eeeeee;
    width:100%;
    height: 2rem;
    background-image: linear-gradient(to right, #00c4f6, #00c6f2, #00c7ed, #00c9e7, #04cae2, #0dcbde, #19cdda, #23ced6, #27cfd2, #2cd0ce, #32d1ca, #39d2c6,#eeeeee,#eeeeee,#eeeeee,#eeeeee,#eeeeee);
}
.scale-container{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}
.scale{
    height:auto;
    width:65%;
    border-top: 1px solid rgb(87, 69, 69);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
}
.chart-2,.chart-3,.chart-4{
    margin-top: 2rem;
}
.scale-container h4{
    font-weight: 600;
}
/* -----------footer style------ */
footer{
    background-color: black;
}
.image-grid{
    display: flex;
    flex-wrap: wrap;
}
.image-grid img{
    width:8rem;
    padding:6px;

}
.fab{
    padding-left:12px;
    color: white;
}
.footer-container h1{
    color:white;
    padding: 8px;
    text-align: justify;
}
.footer-container p{
    color:white;
    padding: 8px;
    text-align: justify;
}
/* -----Responsive Styles------ */

